* { margin: 0; padding: 0; }

// Flex

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
        }
    &-jc-sa{
        justify-content: space-around;
    }
    &-ai-c {
    align-items: center;
    }
    &-ai-end{
        align-items: flex-end;
    }
    &-column{
        flex-direction: column;
    }
    &-ai-sb{
        align-items: space-between;
    }
}

body {
    background: $mediumGray;
    font-family: 'Red Hat Display', sans-serif;
    color: $white;

    .main_container{
        height: 100vh;
    }

    .dark_box {
        background: $darkgray;
        padding: 1.2rem;
        border-radius: .5rem;
    }
    .mb {
        margin-bottom: 0.5rem;
    }
    .ml {
        margin-left: 0.5rem;
    }

    h4{
        font-weight: 500;
        font-size: 1.1rem;
    }
    p{
        font-weight: 500;
        font-size: 0.9rem;
        color: gray;
    }
    h2 {
        font-weight: 700;
        font-size: 2.1rem;
    }
    .steps {
        margin-bottom: .4rem;
    }
    .btn {
        border: solid 1px gray;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
    }

}