* { margin: 0; padding: 0; }

// Flex

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
        }
    &-jc-sa{
        justify-content: space-around;
    }
    &-ai-c {
    align-items: center;
    }
    &-ai-end{
        align-items: flex-end;
    }
    &-column{
        flex-direction: column;
    }
    &-ai-sb{
        align-items: space-between;
    }
    &-self-end {
        align-self:flex-end;
    }
}

body {
    background: $lightGray;
    font-family: 'Red Hat Display', sans-serif;
    color: $darkgray;

    .main_container{
        height: 100vh;
    }

    .white_box {
        background: $white;
        padding: 1.8rem;
        border-radius: .3rem;
    }
    .mb {
        margin-bottom: 1rem;
    }
    .ml {
        margin-left: 0.5rem;
    }

    .green {
        color: $green;
    }

    .arrow {
        width: 0.55rem;
    }

    .dash {
        border: dashed;
        border-width: 0.5px;
    }

    .blue {
        color: $blue;
    }

    h4{
        font-weight: 500;
        font-size: 1.1rem;
    }
    p{
        font-weight: 500;
        font-size: 0.75rem;
        color: $lightGray;
    }
    h2 {
        font-weight: 700;
        font-size: 2.1rem;
    }

}