* { margin: 0; padding: 0; }

// Flex

.flex {
    display: flex;

    &-jc-sb {
    justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
        }
    &-jc-sa{
        justify-content: space-around;
    }
    &-ai-c {
    align-items: center;
    }
    &-ai-end{
        align-items: flex-end;
    }
    &-column{
        flex-direction: column;
    }
    &-ai-sb{
        align-items: space-between;
    }
    &-self-end {
        align-self:flex-end;
    }
    &-self-start {
        align-self:flex-start;
    }
    &-gap {
        gap: 1.5rem;
    }
}

body {
    background: $lightGray;
    font-family: 'Red Hat Display', sans-serif;
    color: $darkgray;

    .main_container{
        height: 100vh;
    }

    .white_box {
        background: $white;
        padding: 1.8rem;
        border-radius: .3rem;
    }

    .mb {
        margin-bottom: 1rem;
    }
    .mb2 {
        margin-bottom: 2rem;
    }
    .mb05 {
        margin-bottom: 0.5rem;
    }
    .ml {
        margin-left: 0.5rem;
    }

    .mt {
        margin-top: 1rem;
    }

    .green {
        color: $green;
    }

    .arrow {
        width: 0.55rem;
    }

    .dash {
        border: dashed;
        border-width: 0.5px;
    }

    .blue {
        color: $blue;
    }

    h4{
        font-weight: 500;
        font-size: 1.1rem;
    }
    p{
        font-weight: 500;
        font-size: 0.75rem;
        color: $lightGray;
    }
    h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }
    h3 {
        font-weight: 500;
        font-size: 1rem;
        color: $lightGray;
    }
    .welcome {
        height: 15rem;
    }
    .button  {
        text-decoration: none;
        background: $darkgray;
        color: $white;
        padding: .5rem 1rem;
        border-radius: .3rem;
        cursor: pointer;
        
    }
    .button2  {
        text-decoration: none;
        background: $blue;
        color: $white;
        padding: .5rem 1rem;
        border-radius: .3rem;
        cursor: pointer;
        
    }
.input {
    max-width: 15rem;
    height: 1.8rem;
    border: none;
    appearance: none;
    background: $input;
    padding: .3rem .8rem;
    border-radius: .3rem;
    outline: none;
    color:$lightGray;
}

label {
    color: $lightGray;
    font-size: .8rem;
    margin-bottom: .3rem;
}

.error {
    color: $error;
}

#errorImgLogin, #errorImgSignup {
    width: 1.5rem;
}

.dashboard, #loginScreen, #signUpScreen, #errorImgLogin, #errorImgSignup {
    display: none;
}

}