// colors
$lightGray: #f7faf2;
$white: #ffffff;
$purple: #573bff;
$darkgray: #202229;
$purple: #5a4aa6;
$mediumGray: #7a7b80;
$green:#19b962;
$blue:#2d8dfe;
$error:#ef9400;
$input:#f5f5f2;
$redish: #ff7474;