// colors
$lightGray: #f3f4f8;
$white: #ffffff;
$purple: #5051F9;
$darkgray: #202229;
$mediumGray: #7a7b80;
$green:#19b962;
$error:#ef9400;
$input:#f5f5f2;
$redish: #ff7474;
$black: #111111;
$blue:#1dA7ff;
$xlightgray: #FBFAFF;